{{!-- component adapted from https://tailwindcomponents.com/component/responsive-sidebar-with-dropdown --}}
<div @click.away="open = false" class="
      flex flex-col
      w-full
      md:w-64
      text-gray-700
      bg-gray-100
      dark:bg-gray-700
      dark:text-gray-200 
      flex-shrink-0
      shadow-inner
    " x-data="{ open: false }">
    <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
        <p class="
          text-md
          font-semibold
          tracking-widest
          text-gray-900
          uppercase
          rounded-lg
          dark:text-white
          focus:outline-none focus:shadow-outline
        ">Filter Products:</p>
        <button class="
          md:hidden
          rounded-lg
          focus:outline-none focus:shadow-outline
        " @click="open = !open">
            <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                <path x-show="!open" fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                    clip-rule="evenodd"></path>
                <path x-show="open" fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>
    <nav :class="{'block': open, 'hidden': !open}" class="flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
        <div class="relative">
            <input
                class="w-full pl-3 border-2 border-gray-300 bg-white h-10 rounded-lg text-sm text-gray-700 focus:outline-none"
                type="search" name="search" placeholder="Search">
            <button type="submit" class="absolute right-0 top-0 mt-2 pt-1 mr-4">
                <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                    viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                    width="512px" height="512px">
                    <path
                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                </svg>
            </button>
        </div>
        <form method="get">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <h3 class="m-1 mt-3 pl-3 font-serif font-bold">Advanced Filter: </h3>
            <div class="m-1 pl-3 pr-2 flex">
                <button type="submit" class="text-white bg-green-400 active:bg-green-700 px-2 rounded-full">Filter
                    Posters</button>
                <a href="/posters" class="text-white bg-blue-400 active:bg-blue-700 px-2 ml-2 rounded-full">Reset</a>
            </div>
            <div class="m-1 pl-3 pr-2 font-light text-sm">Enter filter and click
                <b>Filter Posters</b>
                to filter. Click
                <b>Reset</b>
                to reset filters.
            </div>
            <div class="overflow-x-scroll">
                {{{form}}}
            </div>
        </form>
    </nav>
</div>