@tailwind base;
@tailwind components;
@tailwind utilities;

/* css for toggle button */
#theme-toggle {
  visibility: hidden;
}

#theme-toggle + label {
  content: "";
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

/* https://stackoverflow.com/questions/16771225/css3-rotate-animation */
#theme-toggle:not(:checked) + label {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cG9seWdvbiBmaWxsPSIjZmY5ODAwIiBwb2ludHM9IjM3LDI5IDQyLDI0IDM3LDE5IDM3LDExIDI5LDExIDI0LDYgMTksMTEgMTEsMTEgMTEsMTkgNiwyNCAxMSwyOSAxMSwzNyAxOSwzNyAyNCw0MiAyOSwzNyAzNywzNyI+PC9wb2x5Z29uPjxwYXRoIGZpbGw9IiNmZmViM2IiIGQ9Ik0xMywyNGMwLDYuMSw0LjksMTEsMTEsMTFjNi4xLDAsMTEtNC45LDExLTExcy00LjktMTEtMTEtMTFDMTcuOSwxMywxMywxNy45LDEzLDI0Ij48L3BhdGg+PC9zdmc+")
    50% 50% no-repeat;
  background-size: 130%;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#theme-toggle:checked + label {
  background-color: transparent;
  box-shadow: inset -8px -8px 1px 1px white;
}
@media screen and (min-width: 768px) {
  #theme-toggle:checked + label {
    box-shadow: inset -8px -8px 1px 1px white;
  }
}
/* end of css for toggle button */
