{{#extends 'base'}}

{{#block 'title'}}
Sign-up
{{/block}}

{{#block 'content'}}

<div class="min-h-full bg-login-light dark:bg-login-dark bg-no-repeat bg-cover bg-center">
    <div class="flex justify-end">
        <div
            class="bg-gradient-to-r from-transparent to-black min-h-[93vh] w-full md:w-1/2 flex justify-center items-center">
            <div class="p-6 lg:p-10 bg-gray-100 dark:bg-gray-600 rounded-xl">
                <form class="text-gray-900 dark:text-white" action="/users/register" method="post">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                    {{!-- sign up form --}}
                    {{{form}}}
                    <div class="flex items-center">
                        <button
                            class="m-4 w-11/12 bg-green-500 hover:bg-green-400 text-white py-2 rounded-md transition duration-100">
                            Register
                        </button>
                    </div>
                </form>
                <a class="mt-8 text-gray-900 dark:text-white" href="/users/login"> Already have an account? <span
                        class="cursor-pointer hover:underline text-sm text-blue-600 dark:text-blue-400">
                        Login</span></a>
            </div>
        </div>
    </div>
</div>
</div>
{{/block}}

{{/extends}}