{{#extends 'base'}}

{{#block 'title'}}
Home
{{/block}}

{{#block 'content'}}
<div class="md:flex flex-col md:flex-row md:min-h-screen w-full">
  {{> sidebar }}
  <div>
    Hello
  </div>
</div>


{{/block}}

{{/extends}}